@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* Utility Classes */
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-primary {
  border: 1px solid #fff;
}

.btn-secondary,
.btn-third:hover {
  background: #383848;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-third {
  background: #e4b95b;
}

.primary-text {
  color: #e4b95b;
}

/* Header Start */
header {
  height: 100vh;
  background: url("./img/home_bg.jpeg") center center/cover no-repeat;
  position: relative;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

#navbar img {
  width: 80px;
  margin-left: 100px;
}

nav ul {
  display: flex;
  margin-right: 100px;
}

nav ul li a {
  padding: 15px 20px;
  font-weight: 600;
}

nav ul li a:hover {
  border-bottom: 2px solid #e4b95b;
}

header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%; /* Add exmple of greeen background */
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.6);
}

header .content h1 {
  font-size: 40px;
  color: #fff;
}

header .content p {
  color: #fff;
  margin: 20px 0 40px;
}

header * {
  z-index: 10;
}

/* Header End */

/* About Start */
#about {
  height: 80vh;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .title,
#offers .title,
#menu .title {
  text-align: center;
  margin-bottom: 4rem;
}

#about h2,
#offers h2,
#menu h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

#about h2 {
  color: #383848;
}

#about .title p {
  font-weight: 600;
  font-size: 14px;
  color: #9a9a9a;
}

#about .about-content {
  display: flex;
  justify-content: space-between;
}

#about .about-content p {
  margin-right: 7rem;
  line-height: 1.6;
  color: #9a9a9a;
  font-weight: 500;
}

#about img {
  max-width: 450px;
}

#about .about-content a {
  margin-top: 2rem;
}
/* About End */
/* Offers Section start */
#offers {
  height: 80vh;
  background: url("./img/offer-background.jpg") center center/cover fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#offers h2 {
  color: #e4b95b;
}

#offers .title p {
  color: #fff;
  font-weight: 500;
}

#offers .offers-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#offers .offers-items img {
  width: 200px;
}

#offers .offers-items h3 {
  font-size: 25px;
  color: #fff;
  margin: 15px 0;
}

#offers .offers-items p {
  color: #fff;
  font-size: 14px;
  padding: 0 20px;
  font-weight: 300;
  margin-bottom: 15px;
}

#offers .offers-items span {
  font-weight: 600;
  font-size: 18px;
  margin-left: 5px;
}

/* Offers Section end */
/* Menu Section Start */
#menu {
  background: #f4f2ed;
  padding: 5rem 0;
}

#menu .title h2 {
  color: #383848;
}
#menu .title p {
  color: #9a9a9a;
  font-weight: 500;
}

#menu .menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu .menu-items .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

#menu .menu-items .menu-item img {
  width: 80px;
  margin-right: 20px;
  border-radius: 50%;
}

#menu .menu-items .menu-item h3 {
  color: #383848;
  border-bottom: 1px dashed #c2bdbd;
  padding-bottom: 10px;
  position: relative;
}

#menu .menu-items .menu-item span {
  position: absolute;
  right: 0px;
  top: 0;
}

#menu .menu-items .menu-item p {
  margin-top: 10px;
}

#menu .btn {
  display: block;
  margin: auto;
  border: none;
  margin-top: 30px;
}

/* Menu Section End */
/* Daytime section Start */
#daytime {
  background: url("./img/daytime_bg.jpeg") center center/cover fixed no-repeat;
  color: #fff;
  text-align: center;
}

#daytime .daytime-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
}

#daytime .daytime-items h3 {
  font-size: 32px;
  margin: 20px 0 10px;
}

#daytime .daytime-items p {
  font-weight: 500;
}
/* Daytime section End */

/* Gallery section start */
#gallery {
  background: url("./img/offer-background.jpg") center center/cover;
  padding: 8rem 0 6rem;
}
#gallery h2 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

#gallery .img-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#gallery .img-gallery img {
  margin: 20px;
  width: 280px;
  height: 200px;
  border-radius: 15px;
  opacity: 0.8;
}

#gallery .img-gallery img:hover {
  opacity: 1;
}
/* Gallery section end */
/* Contact Section start */
#contact {
  background: #f4f2ed;
  padding: 5rem 0;
}

#contact .container {
  max-width: 900px;
}

#contact .contact-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contact .contact-info {
  width: 50%;
}

#contact .contact-info div {
  margin: 30px 0;
  line-height: 1.7;
}

#contact .contact-info h3 {
  font-size: 28px;
  color: #383848;
  margin-bottom: 10px;
}

#contact .contact-info p {
  color: #9a9a9a;
}

#contact .contact-info p i {
  color: #e4b95b;
  margin-right: 5px;
}

#contact .contact-info a i {
  color: #fff;
  background: #383848;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
}

#contact .contact-info a i:hover {
  background-color: #e4b95b;
  color: #383848;
}

form {
  width: 50%;
}

form input,
textarea {
  display: block;
  width: 100%;
  padding: 20px 15px;
  margin: 20px 0;
  border: none;
  background-color: #e3e2dd;
}

form input:focus,
textarea:focus {
  outline: none;
}

form button {
  color: #fff;
}

/* Contact Section End */
/* Footer Start */
#footer {
  background-color: #383848;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
}
/* Footer End */

/* Responsiveness */
/* Medium Screen + Tablet */
@media (max-width: 1000px) {
  #navbar img {
    margin-left: 20px;
  }

  nav ul {
    margin-right: 20px;
  }

  nav ul li a {
    padding: 10px;
  }

  header .content h1 {
    font-size: 28px;
  }

  #about {
    height: auto;
    padding: 4rem 2rem;
  }

  #about .about-content p {
    margin-right: 2rem;
  }

  #about img {
    width: 250px;
  }

  #offers .offers-items img {
    width: 150px;
  }

  #offers .offers-items h3 {
    font-size: 18px;
  }

  #menu .menu-items {
    display: block;
  }

  #contact .contact-content {
    flex-direction: column;
  }

  /* Mobile Devices */
  @media (max-width: 600px) {
    #navbar {
      flex-direction: column;
    }

    #navbar img {
      margin-bottom: 20px;
    }

    header .content h1 {
      font-size: 18px;
    }

    header .content p {
      font-size: 14px;
    }

    #about .about-content {
      flex-direction: column;
    }

    #about .about-content a {
      margin: 2rem 0;
    }

    #about img {
      display: none;
    }

    #offers {
      height: auto;
      padding: 30px 10px;
    }

    #offers .offers-items {
      flex-direction: column;
    }

    #menu .menu-items .menu-item {
      margin: 20px 10px;
    }

    #daytime .daytime-items {
      display: block;
      height: auto;
      padding: 30px 0;
    }

    #daytime .daytime-items .daytime-item {
      margin-top: 20px;
    }

    #contact .contact-info,
    form {
      width: 80%;
    }
  }
}
